{% comment %}
  Required values
  product: <object>
  ______________
  Optional values
{% endcomment %}

<div class="sticker-holder sticker-shape-square sticker-position-right">
  <div class="sticker-holder__content sticker-holder__content--product">
    {% for tag in product.tags %}
      {% if tag == 'sale' %}
        <div class="sale-sticker thumbnail-sticker">
          <span class="sticker-text">Sale</span>
        </div>
      {% elsif tag == 'blackfriday' %}
        <div class="blackfriday-sticker thumbnail-sticker">
          <span class="sticker-text">Black Friday</span>
        </div>
      {% else %}
        <div class="debug-sticker thumbnail-sticker">
          <span class="sticker-text">Debug: {{ tag }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% style %}
  .badge-container {
    display: flex;
    height: 0;
    font-size: small;
  }
{% endstyle %}
