<div class="badge-container">
  {% case product.tags %}
    {% when 'sale' %}
      <div class="sale-sticker thumbnail-sticker">
        <span class="sticker-text">Sale</span>
      </div>
    {% when 'blackfriday' %}
      <div class="blackfriday-sticker thumbnail-sticker">
        <span class="sticker-text">Black Friday</span>
      </div>
    {% else %}

  {% endcase %}
</div>

{% style %}
  .badge-container {
    display: flex;
    height: 0;
    font-size: small;
  }
{% endstyle %}
