{% comment %}
  add a section to the top of page Help
{% endcomment %}


<section class="section is-width-wide has-background pagetop-recharge"> <div class="container has-limit"> <div class="columns one-whole"> <div class="rich-text__content card-content"> <h2 class="rich-text__heading title text-align-center "><span class="HeadTopEric"><strong>How Can We Help You?</strong></span></h2></div></div></div>
</section>